span.anchor { color: #009900; }
span.alias { color: #009900; }
/*
span.indent { background-color: #e8e8e8; }
*/
span.dash { font-weight: bold; color: magenta; }
span.colon { font-weight: bold; color: magenta; }
span.question { font-weight: bold; color: magenta; }
span.yaml_directive { color: cyan; }
span.tag_directive { color: cyan; }
span.tag { color: blue; }
span.comment { color: #888; }
span.eol { color: #888; }
span.singlequote { font-weight: bold; color: green; }
span.doublequote { font-weight: bold; color: green; }
span.singlequoted { color: #009900; }
span.doublequoted { color: #009900; }
span.literal { font-weight: bold; color: magenta; }
span.folded { font-weight: bold; color: magenta; }
span.doc_start { background-color: lightblue; font-weight: bold; }
span.doc_end { background-color: lightblue; font-weight: bold; }
span.block_scalar_content { color: #cc7722; }
span.tab { background-color: lightblue; }
span.error { background-color: #ff8888; }
span.trailing_space { background-color: #ff99ff; }
span.flowseq_start { font-weight: bold; color: magenta; }
span.flowseq_end { font-weight: bold; color: magenta; }
span.flowmap_start { font-weight: bold; color: magenta; }
span.flowmap_end { font-weight: bold; color: magenta; }
span.flow_comma { font-weight: bold; color: magenta; }
span.plainkey { color: #005faa; }

@media screen and (max-width: 850px) {
  div.codebox {
    box-shadow: none;
    padding: 0.3em;
    font-size: 100%;
  }
}

